@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Sora:100,200,300,regular,500,600,700,800);

* {
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: auto;

  padding-inline: 1rem;
  border: none;
  border-radius: 0.5rem;

  color: white;
  background-color: #007bff;

  font-size: 0.875rem;
  font-weight: 500;

  cursor: pointer;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn:hover {
  background-color: #0056b3;
}

.btn+.btn-danger {
  background-color: #dc3545;
}

.btn+.btn-danger:hover {
  background-color: #bd2130;
}